@{
    ViewBag.Title = "Coach List";
    Layout = "~/Views/Shared/_Modal_Layout.cshtml";
}
<form class="form-horizontal" role="form" id="formSearchCoach">
    <div class="form-group">
        @Html.Label("txtCommunity", "Community Name", new { @class = "control-label col-sm-3" })
        <div class="col-sm-3">
            @Html.TextBox("txtCommunity", "", new
       {
           autocomplete = "off",
           @class = "form-control",
           data_list = "true",
           data_for = "#CommunityId",
           data_remote = Url.Action("GetCommunity", "STGSend", new { Area = "STGReport" }),
           data_text = "Name",
           data_value = "ID",
           id = "txtCommunity",
           name = "txtCommunity",
           placeholder = "Enter key text to search",
           @for = "CommunityId"
       })
            @Html.Hidden("CommunityId", "", new
       {
           data_bind = "value: searchCriteria.community"
       })
        </div>
        @Html.Label("FirstName", "First Name", new { @class = "control-label col-sm-3" })
        <div class="col-sm-3">
            @Html.TextBox("FirstName", "", new
            {
                @class = "form-control",
                data_bind = "value: searchCriteria.firstName"
            })
        </div>

    </div>
    <div class="form-group">
        @Html.Label("LastName", "Last Name", new { @class = "control-label col-sm-3" })
        <div class="col-sm-3">
            @Html.TextBox("LastName", "", new
            {
                @class = "form-control",
                data_bind = "value: searchCriteria.lastName"
            })
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <button class="mainbutton mainright-btn sreach-btn" type="button" data-bind="event: { click: search }">Search</button>
        </div>
    </div>

    <div class="main-content main-content">
        <div class="content-title">Coaches/Coordinators</div>
        <div class="content-body-tab">
            <table class="table table-striped table-hover">
                <thead>
                    <tr data-bind="foreach: { data: headers, as: 'header' }">
                        <!-- ko if: (header.order === true)-->
                        <th data-bind="style: { width: width }">
                            <a href="javascript:;" data-bind="text: text, click: $root.changeOrder"></a>
                            <span class="glyphicon"
                                data-bind="visible: $root.orderBy() == header.field && $root.orderDirection().toUpperCase() == 'ASC',
    css: { 'glyphicon-arrow-up': $root.orderDirection().toUpperCase() == 'ASC' }"></span>
                            <span class="glyphicon"
                                data-bind="visible: $root.orderBy() == header.field && $root.orderDirection().toUpperCase() == 'DESC',
    css: { 'glyphicon-arrow-down': $root.orderDirection().toUpperCase() == 'DESC' }"></span>
                        </th>
                        <!-- /ko-->
                        <!-- ko if: (header.order === false) -->
                        <th data-bind="text: text, style: { width: width }"></th>
                        <!-- /ko-->
                    </tr>
                </thead>
                <tbody data-bind="foreach: { data: showRecords, as: 'item' }" id="tbCoaches">
                    <tr>
                        <td>
                            <input type="checkbox" data-bind="value: item.UserId" />
                        </td>
                        <td data-bind="text: item.FirstName"></td>
                        <td data-bind="text: item.LastName"></td>
                    </tr>
                </tbody>@Html.Display("e", "NoData", new { Colspan = 100 })
            </table>
            @Html.Partial("_Partial_Pager")

            <div class="modal-footer">

                <input type="button" class="mainbutton mainright-btn submit-btn" value="Save" onclick="selectCoachToGeneral()">
                <button class="mainbutton modal-btn cancel-btn" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

</form>

@section Scripts
{

    <script type="text/javascript">

        function selectCoachToGeneral() {
            var arr = new Array();
            if (typeof (arrSelectCoachList) != "undefined") {
                arr = arrSelectCoachList;
            }

            $("#tbCoaches").find("input:checkbox:checked").each(function () {
                var tmpId = $(this).val();
                var tmpFistname = $(this).closest("td").next().html();
                var tmpLastname = $(this).closest("td").next().next().html();
                if (typeof (arrSelectCoachList) == "undefined")
                    arr.push({ id: tmpId, fistName: tmpFistname, lastName: tmpLastname });
                else {
                    var sameCoach = false;
                    for (var i = 0 ; i < arrSelectCoachList.length; i++) {
                        if (arrSelectCoachList[i].id == tmpId) {
                            sameCoach = true;
                            break;
                        }
                    }
                    if (sameCoach == false) {
                        arr.push({ id: tmpId, fistName: tmpFistname, lastName: tmpLastname });
                    }
                }
            });
            receiveCoachList(arr);
            closeModal($("#formSearchCoach"));
        }

        var list_CoachList = {};
        jQuery(function () {
            $("#formSearchCoach").find("input[data-list][data-remote]").each(function (index, input) {
                $(input).datalist();
            });

            list_CoachList = new ViewModel(
            {
                instanceName: "list_CoachList",
                getDataUrl: '@Html.Raw(Server.UrlDecode(Url.Action("SearchCoach", "SearchUser", new { area = "" })))',
                orderBy: "LastName",
                orderDirection: "ASC",
                pageSize: 10,
                miniPager: true,
                headers: [
                    {
                        text: "Select",
                        width: '20%'
                    },
                    {
                        text: "First Name",
                        field: "FirstName",
                        order: true,
                        width: '40%'
                    },
                    {
                        text: "Last Name",
                        field: "LastName",
                        order: true,
                        width: '40%'
                    }
                ],
                searchCriteria: {
                    community: ko.observable(window.queryString("community", "0")),
                    firstName: ko.observable(window.queryString("FirstName"), ''),
                    lastName: ko.observable(window.queryString("LastName"), '')
                }
            });

            list_CoachList.search();
            ko.applyBindings(list_CoachList, document.getElementById("formSearchCoach"));
        });
    </script>
}
