@{
    ViewBag.Title = "STG";
    Layout = "~/Views/Shared/_Layout_Offline.cshtml";
    var formId = PostFormHelper.GetFormId(Html.ViewContext.View);
    //ViewBag.Manifest = Url.Action("Manifest");
}

<div class="row">
    <div class="col-sm-6 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Basic Information</div>
            <div class="panel-body ">
                <form class="form-horizontal" role="form">
                    <label class="control-label">Teacher Name</label>
                    <label class="control-label-text" data-bind="html:teacher.firstname + ' ' + teacher.lastname">
                    </label>
                    @ViewTextHelper.HtmlEmptySeparator
                    <label class="control-label">School Year</label>
                    <label class="control-label-text" data-bind="html:assessment.SchoolYear">
                    </label>
                </form>
                <div class="right-content-top">
                    <a href="/Cot/Offline" class="mainbutton mainright-btn nav-btn">Back to Teacher List</a>
                    <button type="button" class="mainbutton mainright-btn create-btn"
                            data-bind="click:gotoTeacherFolder">
                        Teacher Folder
                    </button>
                    <button type="button" class="mainbutton mainright-btn create-btn"
                            data-bind="click:gotoCotReport">
                        Select Goals/Update COT
                    </button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Partial_Log")
</div>

<form class="form-horizontal" novalidate="novalidate" id="@(formId)">
    <div class="right-content-top">
        <div class="form-group">
            <label class="control-label col-sm-2 required" for="GoalSetDate" aria-required="true">Goal Set Date</label>
            <div class="col-sm-2">
                <input value="12/29/2014" class="form-control date"
                       data-bind="enable:teacher.editingStgReport.goalSetMode,value: teacher.editingStgReport.goalSetDate"
                       data-val="true" data-val-date="The field Goal Set Date must be a date."
                       data-val-required="The Goal Set Date field is required."
                       id="GoalSetDate" name="GoalSetDate" type="text" placeholder="" disabled="">
                <span class="field-validation-valid" data-valmsg-for="GoalSetDate" data-valmsg-replace="true"></span>
            </div>
            <label class="control-label col-sm-2 required" for="SpentTime" aria-required="true">Length of Visit ( hours )</label>
            <div class="col-sm-2">
                <select class="form-control"
                        data-bind="options:spentTimeOptions,optionsText:'text',optionsValue:'value',value:teacher.editingStgReport.spentTime,enable:teacher.editingStgReport.goalSetMode"
                        data-val="true" data-val-length="The field Length of Visit ( hours ) must be a string with a maximum length of 10."
                        data-val-length-max="10" data-val-required="The Length of Visit ( hours ) field is required."
                        id="SpentTime" name="SpentTime" disabled=""></select>
                <span class="field-validation-valid" data-valmsg-for="SpentTime" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>
    <div class="modal-l-b"></div>
    <div class="main-content">
        <div class="content-body">
            <table class="table  table-hover table-striped   table-condensed">
                <thead>
                    <tr>
                        <th>Goal Item</th>
                        <th style="width: 100px;">STGR<br />Goal Set Date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach:{data:teacher.editingStgReport.measures,as:'measure'}-->
                    <!-- ko template:{name:'_tmp_measure',data:measure}-->
                    <!-- /ko-->
                    <!-- ko if:items-->
                    <!-- ko template:{name:'_tmp_item',foreach:items,as:'item'}-->
                    <!-- /ko-->
                    <!-- /ko-->
                    <!-- ko if:children && children.length-->
                    <!-- ko foreach:{data:children,as:'childMeasure'}-->
                    <!-- ko template:{name:'_tmp_measure2',data:childMeasure}-->
                    <!-- /ko-->
                    <!-- ko template:{name:'_tmp_item',foreach:childMeasure.items,as:'childItem'}-->
                    <!-- /ko-->
                    <!-- /ko-->
                    <!-- /ko-->
                    <!-- /ko-->
                </tbody>
            </table>
            <div class="modal-l-b"></div>
            <div class="form-group">
                <div class="col-sm-11 col-sm-offset-1">
                    <h3>Action Plan</h3>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 " for="OnMyOwn" aria-required="true">On My Own</label>
                <div class="col-sm-10">
                    <textarea class="form-control validate" data-bind="value:teacher.editingStgReport.onMyOwn,enable:teacher.editingStgReport.goalSetMode"
                              cols="20" data-val="true" data-val-length="The field On My Own must be a string with a maximum length of 4000." data-val-length-max="4000"  id="OnMyOwn" name="OnMyOwn" rows="8" style="visibility: hidden; display: none;" placeholder=""></textarea>
                    <span class="field-validation-valid" data-valmsg-for="OnMyOwn" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 " for="WithSupport" aria-required="true">With Support</label>
                <div class="col-sm-10">
                    <textarea class="form-control validate" data-bind="value:teacher.editingStgReport.withSupport,enable:teacher.editingStgReport.goalSetMode"
                              cols="20" data-val="true" data-val-length="The field With Support must be a string with a maximum length of 4000." data-val-length-max="4000"  id="WithSupport" name="WithSupport" rows="8" style="visibility: hidden; display: none;" placeholder=""></textarea>
                    <span class="field-validation-valid" data-valmsg-for="WithSupport" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 " for="AdditionalComments" aria-required="true">Additional Comments</label>
                <div class="col-sm-10">
                    <textarea class="form-control validate" data-bind="value:teacher.editingStgReport.additionalComments,enable:teacher.editingStgReport.goalSetMode"
                              cols="20" data-val="true" data-val-length="The field Additional Comments must be a string with a maximum length of 4000." data-val-length-max="4000"  id="AdditionalComments" name="AdditionalComments" rows="8" style="visibility: hidden; display: none;" placeholder=""></textarea>
                    <span class="field-validation-valid" data-valmsg-for="AdditionalComments" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="button-content">
        <input type="submit" class="mainbutton mainright-btn submit-btn" data-bind="click:beforeSubmit" value="Save" />
    </div>
</form>
<script type="text/html" id="_tmp_item">
    <tr>
        <td style="text-align: left;" data-bind="html:fullTargetText"></td>
        <td data-bind="text:goalSetDate"></td>
    </tr>
</script>
<script type="text/html" id="_tmp_measure">
    <tr class="success" data-bind="if:measure.items && measure.items.length || measure.children && measure.children.length ">
        <td colspan="4" style="text-align: left;font-weight: bold;" data-bind="text:name"></td>
    </tr>
</script>
<script type="text/html" id="_tmp_measure2">
    <tr class="info" data-bind="if:childMeasure.items && childMeasure.items.length">
        <td colspan="4" style="text-align: left;padding-left: 40px;font-weight: bold;" data-bind="text:name"></td>
    </tr>
</script>
@section Scripts
{
    @Scripts.Render("~/scripts/jquery_val/offline")
    @Scripts.Render("~/scripts/ckeditor/offline")
    @Scripts.Render("~/scripts/format/offline")
    @Scripts.Render("~/scripts/cot/offline")
    <script type="text/javascript" src="/Content/Scripts/datetime/lang/en.js"></script>
    <script type="text/javascript" src="/Content/Scripts/datetime/calendar.js?"></script>

    <script type="text/javascript">
        function log(type, message) {
            var log = '<div class="alert alert-' + type + ' alert-log" role="alert" title="' + message + '">' + message + '</div>';
            $(log).appendTo($log);
            $log.scrollTop($log[0].scrollHeight);
        }

        var offlineApp;
        var $log;

        $(function () {
            var $form = $("#@(formId)");
            $log = $("#log_Container");
            offlineApp = getCotOfflineApp("@(ViewBag.EncryptUserID)");
            offlineApp.writeLog = log;
            offlineApp.init();
            offlineApp.viewModel.beforeSubmit = function () {
                if ($form.valid()){
                    offlineApp.viewModel.saveStgReport();
                }
            };
            ko.applyBindings(offlineApp.viewModel);
            setTimeout(function() {
                CKEDITOR.replace('OnMyOwn',
                {
                    toolbar: 'COT'
                });
                CKEDITOR.replace('WithSupport',
                {
                    toolbar: 'COT'
                });
                CKEDITOR.replace('AdditionalComments',
                {
                    toolbar: 'COT'
                });
            }, 500);
        });
    </script>
}
