@model Sunnet.Cli.Business.Vcw.Models.CoachFileModel
@using Sunnet.Framework.Extensions
@using Sunnet.Cli.Core.Vcw.Enums
@using Sunnet.Cli.UIBase

<div class="form-group">
    <div class="col-sm-6">
        <span class="col-sm-6 control-label">File Name</span>
        <div class="col-sm-6">
            <span class="control-label-text">
                @Model.IdentifyFileName
            </span>
        </div>
        <span class="col-sm-6 control-label">DownLoad</span>
        <div class="col-sm-6">
            <span class="control-label-text">
                <a href="@(Model.DownLoadFilePath)" class="form-link4">@(Model.FileName)</a>
            </span>
        </div>
        <span class="col-sm-6 control-label">Date Video Recorded</span>
        <div class="col-sm-6">
            <span class="control-label-text">
                @Model.DateRecorded.Value.FormatDateString()
            </span>
        </div>
        <span class="col-sm-6 control-label">Video Language</span>
        <div class="col-sm-6">
            <span class="control-label-text">
                @(Model.LanguageText)
            </span>
        </div>
        <span class="col-sm-6 control-label">Video Context</span>
        <div class="col-sm-6">
            <span class="control-label-text">
                @Model.Context
            </span>
        </div>
        <span class="col-sm-6 control-label">Video Content</span>
        <div class="col-sm-6">
            <span class="control-label-text">
                @Model.Content
            </span>
        </div>
        <span class="col-sm-6 control-label">Coaching Strategies</span>
        <div class="col-sm-6">
            <span class="control-label-text">
                @(Model.Strategy)
            </span>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="content-con">
                    <div class="content-title3">
                        <div class="control-label">Coaching Objectives</div>
                    </div>
                    <div class="textarea-con">
                        @Model.Objectives
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="content-con">
                    <div class="content-title3">
                        <div class="control-label">Coaching Effectiveness</div>
                    </div>
                    <div class="textarea-con">
                        @Model.Effectiveness
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <video controls="controls" class="videoplay">
            <source src="@(FileHelper.GetPreviewPathofUploadFile(Model.FilePath).Replace("\\", "/"))" />
        </video>
    </div>
</div>
