@model MeasureModel
@{
    ViewBag.Title = "Parent Activities - " + Model.Label;
    Layout = "~/Views/Shared/_Modal_Layout.cshtml";
    var formId = PostFormHelper.GetFormId(Html.ViewContext.View);
}
@section Scripts{
    <script type="text/javascript">
        +(function() {
            var defaultLinks = @Html.Raw(ViewBag.ParentActivities);

            function Link() {
                this.DisplayText ="";
                this.Link = "";
                this.Status = 1;
                this.hasError = ko.observable(false);
                this.ThumbnailDisplayText =function(t){
                    if(t.length > 20)
                        return t.slice(0, 20) + " ..." ;
                    else
                        return t;
                };
                this.ThumbnailLink = function(l){
                    if(l.length > 70)
                        return l.slice(0, 70) + " ..." ;
                    else
                        return l;
                };
                this.MeasureWave1 = false;
                this.MeasureWave2 = false;
                this.MeasureWave3 = false;
                this.StudentWave1 = false;
                this.StudentWave2 = false;
                this.StudentWave3 = false;
            }

            var ListModel = function(datas, formId, constructor) {
                var self = this;
                this.dataset = ko.observableArray([]);
                $.each(datas, function(i, data) {
                    var t = new constructor();
                    $.extend(t, data);
                    self.dataset.push(t);
                });

                this.newData = function() {
                    self.dataset.push(new constructor());
                }
                this.delete = function(data) {
                    self.dataset.remove(data);
                    if(self.dataset.length<1)
                        self.dataset.push(new constructor());
                }
                this.submit = function() {
                    var links ="";
                    for(var i = 0 ;i < $("input[name='links']").length;i++){
                        if($("#Link" + i).val() != ""){
                            links += $("#Link" + i).val() + "|" + $("#DisplayText" + i).val()+"|"+ $("#Status" + i).val() + ";";
                        }
                    }
                    $("#activities").val(links);
                    $("#" + formId).submit();
                }

                if (this.dataset().length == 0) {
                    this.newData();
                }
            }
            var linksModel = new ListModel(defaultLinks, "@formId", Link);
            ko.applyBindings(linksModel, document.getElementById("@(formId)"));
        })();
    </script>
}
@using (Ajax.BeginForm("ParentActivities", "Measure", null, PostFormHelper.DefaultAjaxOptions, new
    {
        @class = "form-horizontal",
        id = formId
    }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.ID)
    <input type="hidden" name="activities" id="activities" />
    <div class="form-group">
        <div class="modal-body-tab">
            @Html.Display("e", "HomeActivities")
        </div>
    </div>

    <div class="modal-footer">
        <button class="mainbutton modal-btn cancel-btn" type="button" data-dismiss="modal">Close</button>
    </div>
}