@using Sunnet.Cli.Core.Ade
@using Sunnet.Cli.Core.Cpalls
@using Sunnet.Cli.UIBase
@using Sunnet.Cli.UIBase.Models
@using Sunnet.Framework.Extensions
@model Sunnet.Cli.Business.Ade.Models.MeasureModel

@{
    ViewBag.Title = "Edit - " + Model.Label;
    Layout = "~/Views/Shared/_Modal_Layout.cshtml";
    var formId = PostFormHelper.GetFormId(Html.ViewContext.View);
    var baseClassObj = new { @class = "form-control" };
}

<form id="@formId" class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.Hidden("scores")
    <div class="form-group">
        @Html.LabelFor(model => model.ParentId, new { @class = "control-label col-sm-2 required" })
        <div class="col-sm-4">
            @Html.DisplayFor(x => x.Parent.Label)
        </div>
        @Html.LabelFor(model => model.Status, new { @class = "control-label col-sm-2  required" })
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Status)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Label, new
        {
            @class = "control-label col-sm-2  required",
            @for = formId + "_Label"
        })
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Label)
        </div>
        @Html.LabelFor(model => model.Name, new
        {
            @class = "control-label col-sm-2  required",
            @for = formId + "_Name"
        })
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Name)
        </div>

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ShortName, new { @class = "control-label col-sm-2" })
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ShortName)
        </div>
    </div>
    <div class="modal-footer">
        <button class="mainbutton modal-btn close-btn" type="button" data-dismiss="modal">Close</button>
    </div>
</form>
