@model Sunnet.Cli.Business.Vcw.Models.CoachFileModel
@using Sunnet.Cli.UIBase.Models
@using System.Web.Optimization;
@using Sunnet.Cli.Core.Vcw.Enums;
@using Sunnet.Framework.Extensions;
@using Sunnet.Cli.UIBase;
@using Sunnet.Cli.Business.Vcw.Models;
@{
    ViewBag.Title = "View PM Coach General File";
    var formId = PostFormHelper.GetFormId(Html.ViewContext.View);
    bool isSummary = !string.IsNullOrEmpty(ViewBag.Redirect);    
}

@if (isSummary)
{
    @section LeftMenu
    {
        @Html.Partial("~/views/Shared/_Partial_Left.cshtml", LeftmenuModel.PM_Summary)
    }
}
else
{
    @section LeftMenu
    {
        @Html.Partial("~/views/Shared/_Partial_Left.cshtml", LeftmenuModel.PM_Coaches)
    }
}

@if (isSummary)
{
    @section BreadPath
    {
        @(Html.ActionLink("Summary", "Index", "Summary"))&nbsp;
        <i class="icon-angle-right"></i>&nbsp;
        @(Html.ActionLink("Coach Files", "Index", "Summary"))&nbsp;
        <i class="icon-angle-right"></i>&nbsp;
        File
    }
}
else
{
    @section BreadPath
    {
        @(Html.ActionLink("My Coaches", "Index", "CoachGeneral"))&nbsp;<i class="icon-angle-right"></i>
        @(Html.ActionLink("Coach General", "Index", "CoachGeneral"))&nbsp;<i class="icon-angle-right"></i>
    View
    }
}
<div class="right-content-top">
    @if (isSummary)
    {
        <a class="mainbutton nav-btn" href="@(Server.UrlDecode(Request.QueryString["returnurl"]) ??
        Url.Action("TeacherFiles", "Summary"))" >Back to Files</a>
    }
    else
    {
        <a class="mainbutton nav-btn" href="@(Server.UrlDecode(Request.QueryString["returnurl"]) ??
        Url.Action("Index", "CoachGeneral"))" >Back to Coach General</a>
    }
</div>
@section Scripts
{
    @Scripts.Render("~/scripts/upload")
    @Scripts.Render("~/scripts/vcw_upload")
    @Scripts.Render("~/scripts/vcw_upload_feedback")
    <script type="text/javascript">
        var arrSelectCoachList = new Array();
        $(function () {
            registerFormCallbacks("@(formId)", {
                onPosted: function (response) {
                    var backurl = "@(ViewBag.Redirect)";
                    if (backurl != "") {
                        redirectBack("@(Server.UrlDecode(Request.QueryString["returnurl"]) ?? Url.Action("TeacherFiles", "Summary"))");
                    }
                    else {
                        redirectBack("@Url.Action("Index")");
                    }
                }
            });

            $("#divCoachSelect a input[name=coach]").each(function () {
                var tmpId = $(this).val();
                var tmpFistname = $(this).attr("firstname");
                var tmpLastname = $(this).attr("lastname");
                arrSelectCoachList.push({ id: tmpId, fistName: tmpFistname, lastName: tmpLastname });
            })
        });

        function getUploaderPrefix() {
            return "@(ViewBag.EncryptUserID)_";
        }


        function beforeSubmit(sender) {
            if ($("#filelists_feedback").length > 0 || $("#filelists").length > 0) {
                if (uploader.getFiles('queued').length > 0) {
                    showMessage("hint", "Vcw_File_Inqueue")
                    return false;
                }
                if (uploader_feedback.getFiles('queued').length > 0) {
                    showMessage("hint", "Vcw_Feedback_Inqueue")
                    return false;
                }
                GetFiles();
                return true;
            }
            else {
                return true;
            }
        };

        function GetFiles() {
            var uploadFile_feedback = "";
            var completeFiles_feedback = uploader_feedback.getFiles("complete");
            if (completeFiles_feedback.length > 0) {
                uploadFile_feedback += completeFiles_feedback[0].name + "(" + WebUploader.formatSize(completeFiles_feedback[0].size) + ")" + "|" + completeFiles_feedback[0].dbName;
            }
            $("#uploadfile_feedback").val(uploadFile_feedback);


            var uploadFile = "";
            var completeFiles = uploader.getFiles("complete");
            if (completeFiles.length > 0) {
                uploadFile += completeFiles[0].name + "(" + WebUploader.formatSize(completeFiles[0].size) + ")" + "|" + completeFiles[0].dbName;
            }
            $("#uploadfile").val(uploadFile);
        }

        function receiveCoachList(v) {
            if (v) {
                arrSelectCoachList = v;
                var tmpSelectCoachHtml = TemplateEngine(window["template_coach_select"].innerHTML, v);
                $("#divCoachSelect").html(tmpSelectCoachHtml);
            }
        }

        function moveCoachList(id) {
            for (var i = 0; i < arrSelectCoachList.length; i++) {
                if (arrSelectCoachList[i].id == id) {
                    arrSelectCoachList.splice(i, 1);
                    break;
                }
            }
        }
    </script>
}

@using (Ajax.BeginForm("View", "CoachGeneral", new { isPM = ViewBag.IsPM }, PostFormHelper.DefaultAjaxOptions, new
{
    @class = "form-horizontal",
    id = formId
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.ID)
    @Html.Partial("/Views/TeacherInfo/CoachInfo.cshtml")
    <div class="main-content">
        <div class="content-title">Selected File Information</div>
        <div class="content-body">
            @if (ViewBag.IsPM == true)
            {
                @Html.Partial("/Areas/PM/Views/CoachGeneral/Partials/FileEdit.cshtml")
            }
            else
            {
                @Html.Partial("/Areas/PM/Views/CoachGeneral/Partials/FileView.cshtml")   
            }
            <input type="hidden" name="uploadfile_feedback" id="uploadfile_feedback" />
            <input type="hidden" name="uploadfile" id="uploadfile" />
            <div class="button-content">
                <input type="submit" class="mainbutton mainright-btn submit-btn" value="Submit" id="btnSubmit" onclick="return beforeSubmit(this)">
                @if (isSummary)
                {
                    <a class="mainbutton modal-btn cancel-btn" href="@(Server.UrlDecode(Request.QueryString["returnurl"]) ??
                Url.Action("TeacherFiles", "Summary"))" >Cancel</a>
                }
                else
                {
                    <a class="mainbutton modal-btn cancel-btn" href="@(Server.UrlDecode(Request.QueryString["returnurl"]) ??
                Url.Action("Index"))" >Cancel</a>
                }
            </div>
        </div>
    </div>
}