@using Sunnet.Cli.UIBase.Models;
@using Sunnet.Cli.MainSite.Models;
@model Sunnet.Cli.Core.Classrooms.Entites.ClassroomEntity

@{
    ViewBag.Title = "Assign class to classroom";
    var formIdPage = PostFormHelper.GetFormId(Html.ViewContext.View);
    var formId = PostFormHelper.GetFormId(Html.ViewContext.View) + "1";
    var formId2 = PostFormHelper.GetFormId(Html.ViewContext.View) + "2";
}
@section LeftMenu
{
    @Html.Partial("~/Views/Shared/_MasterData_LeftMenu.cshtml", Leftmenu_MainSite.Classroom)
}

@section BreadPath
{
    @(Html.ActionLink("Classroom List", "Index", "Classroom"))
    <i class="icon-angle-right"></i>Assign Classes to Classroom
}
@Html.AntiForgeryToken()
<div class="right-content-top">
    <a class="mainbutton mainright-btn nav-btn" href="@(Server.UrlDecode(Request.QueryString["returnurl"]) ?? Url.Action("Index"))">Back
    </a>
</div>
<div class="main-content">
    <div style="text-align: center"><i class="icon-user"></i><span>&nbsp;</span>@Model.Name</div>
    <div class="content-body tab-d-con">
        <form class="form-horizontal clearfix" role="form">
            <div id="@formId">
                <div class="tab-content tab-d">
                    <div class="content-title">
                        Unassgined Classes
                    </div>
                    <div class="tab-d-input">
                        <label class="hide" for="Keyword">Keyword</label>
                        <input class="form-control" placeholder="Enter key to search" data-bind="value: searchCriteria.name" id="Keyword" name="Keyword" type="text" value="" />
                        <button class="mainbutton mainright-btn sreach-btn" data-bind="event: { click: search }">search</button>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr data-bind="foreach: { data: headers, as: 'header' }">
                                <!--ko if:($index()===0)-->
                                <th>
                                    <input type="checkbox" onclick="CheckAll(this)" value="@formId" id="chkSelectAll" />
                                    <label for="chkSelectAll">Select All</label>
                                </th>
                                <!--/ko-->
                                <!-- ko if: (header.order === true)-->
                                <th data-bind="style: { width: width }">
                                    <a href="javascript:;" data-bind="text: text, click: $root.changeOrder"></a>
                                    <span class="glyphicon"
                                        data-bind="visible: $root.orderBy() == header.field && $root.orderDirection().toUpperCase() == 'ASC',
    css: { 'glyphicon-arrow-up': $root.orderDirection().toUpperCase() == 'ASC' }"></span>
                                    <span class="glyphicon"
                                        data-bind="visible: $root.orderBy() == header.field && $root.orderDirection().toUpperCase() == 'DESC',
    css: { 'glyphicon-arrow-down': $root.orderDirection().toUpperCase() == 'DESC' }"></span>
                                </th>
                                <!--/ko-->
                                <!-- ko if: (header.order === false) -->
                                <th data-bind="text: text, style: { width: width }"></th>
                                <!-- /ko-->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: { data: showRecords, as: 'item' }">
                            <tr>
                                <td>
                                    <label data-bind="attr: { 'for': 'chkComm' + $index() }" class="hide">hiddenChk</label>
                                    <input type="checkbox" name="chkComm" data-bind="value: item.ID, attr: { id: 'chkComm' + $index() }" />
                                </td>
                                <td data-bind="text: item.Name"></td>
                            </tr>
                        </tbody>
                        @Html.Display("e", "NoData", new { Colspan = 2 })
                    </table>
                    @Html.Partial("_Partial_Pager")
                </div>

                <div class="tab-d-m">
                    <a class="mainright-btn tab-save-btn cancel-btn" href="#" title="Assign Classes To Classroom" data-bind="event: { click: $root.AssignAll }">
                        <i class="icon-double-angle-right icon-large"></i>
                        <span class="hide">Assign Classes from Classroom</span>
                    </a>
                    <a class="mainright-btn tab-save-btn save-btn" href="#" title="Unassign Classes from Classroom" data-bind="event: { click: $root.UnAssignAll }">
                        <i class="icon-double-angle-left icon-large"></i>
                        <span class="hide">Unassign Classes from Classroom</span>
                    </a>
                </div>
            </div>

            <div class="tab-content tab-d"  id="@formId2">
                <div class="content-title">Assigned Classes</div>
                <div class="tab-d-input">
                    <label class="hide" for="Keyword2">Keyword</label>
                    <input class="form-control" placeholder="Enter key to search" data-bind="value: searchCriteria.name"
                        id="Keyword2" name="Keyword" type="text" value="" />
                    <button class="mainbutton mainright-btn sreach-btn" data-bind="event: { click: search }">Search</button>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr data-bind="foreach: { data: headers, as: 'header' }">
                            <!-- ko if: ($index() === 0)-->
                            <th>

                                <input type="checkbox" onclick="CheckAll(this)"  value="@formId2" id="chkSelectAll2" />
                                <label for="chkSelectAll2">Select All</label>
                            </th>
                            <!-- /ko-->
                            <!-- ko if: (header.order === true)-->
                            <th data-bind="style: { width: width }">
                                <a href="javascript:;" data-bind="text: text, click: $root.changeOrder"></a>
                                <span class="glyphicon"
                                    data-bind="visible: $root.orderBy() == header.field && $root.orderDirection().toUpperCase() == 'ASC',
    css: { 'glyphicon-arrow-up': $root.orderDirection().toUpperCase() == 'ASC' }"></span>
                                <span class="glyphicon"
                                    data-bind="visible: $root.orderBy() == header.field && $root.orderDirection().toUpperCase() == 'DESC',
    css: { 'glyphicon-arrow-down': $root.orderDirection().toUpperCase() == 'DESC' }"></span>
                            </th>
                            <!-- /ko-->
                            <!-- ko if: (header.order === false) -->
                            <th data-bind="text: text, style: { width: width }"></th>
                            <!-- /ko-->
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: { data: showRecords, as: 'item' }">
                        <tr>
                            <td>
                                <label data-bind=" attr: { 'for': 'chkComm2' + $index() }" class="hide">hiddenChk</label>
                                <input type="checkbox" name="chkComm" data-bind="value: item.ID,
    attr: { id: 'chkComm2' + $index() }">
                            </td>
                            <td data-bind="text: item.Name"></td>

                        </tr>
                    </tbody>
                    @Html.Display("e", "NoData", new { Colspan = 2 })
                </table>
                @Html.Partial("_Partial_Pager")
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        function CheckAll(obj) {
            var formId = $(obj).val();
            if ($(obj).is(":checked")) {
                $("#" + formId + " [name='chkComm'] ").prop("checked", true);
            }
            else {
                $("#" + formId + " [name='chkComm']").prop("checked", false);
            }
        }
        function GetAllCheckedItem(formId) {
            var ids = new Array();
            $("#" + formId + " input:checked").not("#chkSelectAll").not("#chkSelectAll2").each(function (index, obj) {
                ids.push($(this).val());
            });
            return ids;
        }

        $(function () {
            var list_Unassignd = {};
            var list_assignd = {};
            InitList = function () {
                $("#chkSelectAll").prop("checked", false);
                $("#chkSelectAll2").prop("checked", false);
                list_Unassignd.search();
                list_assignd.search();
            }

            //list_Unassignd begin
            list_Unassignd = new ViewModel(
                {
                    instanceName: "list_Unassignd",
                    modalId: "modalNormal",
                    viewType: "Redirect",
                    getDataUrl: '@Html.Raw(Server.UrlDecode(Url.Action("SearchUnAssignedClass")))',
                    orderBy: "Name",
                    orderDirection: "ASC",
                    pageSize: 10,
                    headers: [
                        {
                            text: "ClassName",
                            field: "Name",
                            order: true,
                            width: '70%'
                        }
                    ],
                    miniPager: true,
                    searchCriteria: {
                        name: ko.observable(""),
                        classroomId: ko.observable("@Model.ID"),
                        schoolId: ko.observable("@Model.SchoolId")
                    }
                },
        {
            AssignAll: function (item) {
                var ids = GetAllCheckedItem("@formId");
                if (ids != "") {
                    $.post(
                        "@Html.Raw(Server.UrlDecode(Url.Action("AssignRelations")))",
                        { classroomId: "@Model.ID", classIds: ids },
                        function (data) {
                            var res = JSON.parse(data);
                            if (res.success == true) {
                                InitList();
                            }
                            else {
                                $.when(window.waitingAlert("fail", res.msg)).done(function () {
                                    $(".mainbutton.mainright-btn.nav-btn")[0].click();
                                }
                                );
                            }
                        }
                        );
                }
            },
            UnAssignAll: function (item) {
                var ids = GetAllCheckedItem("@formId2");
                if (ids != "") {
                    $.post(
                    "@Html.Raw(Server.UrlDecode(Url.Action("DeleteRelations")))",
                    { classroomId: "@Model.ID", classIds: ids },
                    function (data) {
                        var res = JSON.parse(data);
                        if (res.success == true) {
                            InitList();
                        }
                    }
                    );
                }
            }
        }
                );
            //list_Unassignd end


            //list_assignd begin
            list_assignd = new ViewModel(
                {
                    instanceName: "list_assignd",
                    modalId: "modalNormal",
                    viewType: "Redirect",
                    getDataUrl: '@Html.Raw(Server.UrlDecode(Url.Action("SearchAssignedClass")))',
                    orderBy: "Name",
                    orderDirection: "ASC",
                    pageSize: 10,
                    miniPager: true,
                    headers: [
                        {
                            text: "ClassName",
                            field: "Name",
                            order: true,
                            width: '70%'
                        }
                    ],
                    searchCriteria: {
                        name: ko.observable(""),
                        classroomId: ko.observable("@Model.ID")
                    }
                }
            );
            //list_assignd end

            list_Unassignd.search();
            list_assignd.search();
            ko.applyBindings(list_Unassignd, document.getElementById("@formId"));
            ko.applyBindings(list_assignd, document.getElementById("@formId2"));
        });
        //function() end

    </script>
}

