@using Sunnet.Cli.Business.Cpalls.Models;
@{
    ViewBag.Title = "Dashboard";
    ViewBag.CustomClass = "main-con-right-vcw-dashboard";
}

@section BreadPath
{
    Collaborative Tools<i class="icon-angle-right"></i>Dashboard
}
<div class="right-content">

    <h3 class="vcw-menu-h3">Collaborative Tools</h3>
    <ul class="vcw-menu-dashboard">
        @if ((bool)ViewBag.CoachAssignment)
        {
            <li><a class="vcw-btn" href="@Url.Action("Index", "CoachAssignment", new { area = "Coach" })" >Go to Coach Assignments
            @Html.Raw(((int)ViewBag.CoachingCount > 0 ? "<span>" + (int)ViewBag.CoachingCount + "</span>" : ""))
            </a></li>}

        @if ((bool)ViewBag.CoachGeneral)
        {
            <li><a class="vcw-btn2" href="@Url.Action("Index", "General", new { area = "Coach" })" >Go to Coach General Uploads</a></li>
        }
        @if ((bool)ViewBag.CoachTeachers)
        {
            <li><a class="vcw-btn3" href="@Url.Action("Index", "TeacherVIP", new { area = "Coach" })">Go to Teacher Collaborative Tools</a></li>
        }
        @if ((bool)ViewBag.CoachSummary)
        {
            <li><a class="vcw-btn4" href="@Url.Action("Index", "Summary", new { area = "Coach" })">Go to my Collaborative Tools Summary Page</a></li>
        }
    </ul>
</div>


