@model Sunnet.Cli.Core.Users.Entities.AuditorEntity
@using Sunnet.Cli.UIBase.Models
@using Sunnet.Framework.Extensions
@using Sunnet.Cli.Business.Permission.Models
@{
    ViewBag.Title = "Auditor Invite";
    var formId = PostFormHelper.GetFormId(Html.ViewContext.View);
    IEnumerable<GroupPackageModel> GroupPackages = ViewBag.GroupPackages;
    List<GroupPackageModel> SelectedGroupPagkages = ViewBag.GroupPackageSelected;
}

@section Scripts
{
    <script type="text/javascript">
        +(function () {
            registerFormCallbacks("@(formId)", {
                onPosted: function (response) {
                    redirectBack("index");
                }
            });
            if ($("#PrimaryLanguageId :selected").text() == "Other")
                $("#PrimaryLanguageOther").attr("type", "text");
            if ($("#PositionId :selected").text() == "Other")
                $("#PositionOther").attr("type", "text");
            if ($("#AffiliationId :selected").text() == "Other")
                $("#AffiliationOther").attr("type", "text");

            $("#PrimaryLanguageId").change(function () {
                if ($("#PrimaryLanguageId :selected").text() == "Other")
                    $("#PrimaryLanguageOther").attr("type", "text");
                else {
                    $("#PrimaryLanguageOther").val("");
                    $("#PrimaryLanguageOther").attr("type", "hidden");
                }
            })
            $("#PositionId").change(function () {
                if ($("#PositionId :selected").text() == "Other")
                    $("#PositionOther").attr("type", "text");
                else {
                    $("#PositionOther").val("");
                    $("#PositionOther").attr("type", "hidden");
                }
            })
            $("#AffiliationId").change(function () {
                if ($("#AffiliationId :selected").text() == "Other")
                    $("#AffiliationOther").attr("type", "text");
                else {
                    $("#AffiliationOther").val("");
                    $("#AffiliationOther").attr("type", "hidden");
                }
            })
            if ($("#UserInfo_Status").val() == "@((int)Sunnet.Cli.Core.Common.Enums.EntityStatus.Inactive)")
                $("#SaveInvite").hide();
            $("#UserInfo_Status").change(function () {
                if ($("#UserInfo_Status").val() == "@((int)Sunnet.Cli.Core.Common.Enums.EntityStatus.Inactive)")
                    $("#SaveInvite").hide();
                else
                    $("#SaveInvite").show();
            })
            $("#SaveInvite").click(function() {
                $("<input type='hidden' name='isInvite' id='isInvite' value='true' />").appendTo($("#@(formId)"));
            });
            $("#ResetInvite").click(function () {
                jQuery.when(waitingConfirm("Are you sure?", "Yes", "No")).done(function () {
                    $.post("/Invitation/Public/ReInvite?userId=@(Model.UserInfo.ID)", function (result) {
                        if (!result) {
                            showMessage("success", "Email has been sent successfully.");
                            location.reload();
                        } else {
                            showMessage("fail");
                        }
                    });
                });
            });
        })();
    </script>
}

@section LeftMenu
{
    @Html.Partial("~/Views/Shared/_MasterData_LeftMenu.cshtml", Leftmenu_MainSite.User)
}

@section BreadPath
{
    @(Html.ActionLink("User Management", "Dashboard", "Public"))
    <i class="icon-angle-right"></i>
    @(Html.ActionLink("Auditor", "Index", "Auditor")) <i class="icon-angle-right"></i>
    @(Model.UserInfo.FirstName + " " + Model.UserInfo.LastName)
}
@using (Ajax.BeginForm("SaveInvitation", "Auditor", null, PostFormHelper.DefaultAjaxOptions,
    new
    {
        @class = "form-horizontal",
        id = formId
    }))
{
    <div class="right-content-top">
        <a class="mainbutton mainright-btn nav-btn" href="@(Server.UrlDecode(Request.QueryString["returnurl"]) ?? Url.Action("Index"))" >Back to Auditor List</a>
    </div>
    <div class="main-content">
        @Html.Partial("~/Areas/Invitation/Views/Auditor/Partials/EditPartial.cshtml")

        <div class="content-title"></div>
        <div class="content-body">
            <div class="form-group">
                <span class="col-sm-3 control-label">Additional Packages</span>
                <div class="col-sm-9">
                    @foreach (var item in GroupPackages)
                    {
                        string strChecked = "";
                        if (SelectedGroupPagkages.Where(e => e.PackageId == item.PackageId).Count() > 0)
                        {
                            strChecked = "checked='checked'";
                        }
                        <div class="with50">
                            <label class="checkbox-inline">
                                <input type="checkbox" @strChecked name="chkPackages" value="@item.PackageId">
                                @item.PackageName
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AuditorNotes, null, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(model => model.AuditorNotes, new { @class = "form-control", style = "height:70px; margin:0px; padding:0px;" })
                    @Html.ValidationMessageFor(model => model.AuditorNotes)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserInfo.InvitationEmail, null, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.UserInfo.InvitationEmail, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <div class="button-content">
            <input type="submit" class="mainbutton mainright-btn submit-btn" value="Submit">
            @if (Model.UserInfo.GoogleId == "")
            {
                <input type="submit" id="SaveInvite" class="mainbutton mainright-btn submit-btn" value="Submit & Invite"/>
            }
            else
            {
                <button class="mainbutton mainright-btn submit-btn" type="button" id="ResetInvite">Reset & Send Invitation</button>
            }
            <button class="mainbutton modal-btn cancel-btn" type="button" onclick='redirectBack("index")'>Cancel</button>
        </div>
    </div>
}

