@using Sunnet.Cli.Core.Cpalls
@model Sunnet.Cli.Business.Ade.Models.AssessmentModel

@{
    ViewBag.Title = "View Assessment - " + Model.Label + " (" + Model.Type.ToDescription() + ")";
    Layout = "~/Views/Shared/_Modal_Layout.cshtml";
    var formId = PostFormHelper.GetFormId(Html.ViewContext.View);
    var baseClassObj = new { @class = "form-control" };
}
@section Scripts
{
    <script type="text/javascript">
        +(function() {
            registerFormCallbacks("@(formId)", {
                onPosted: function (response) {
                    var parentListObj = @Request.QueryString["listObj"];
                    parentListObj.onDataUpdated(response);
                }
            });
            @*var scoreModel = getAdeScoreModel(@Html.Raw(ViewBag.Scores),'@formId','scores','deleted');
            ko.applyBindings(scoreModel, document.getElementById("@(formId)"));*@
            debugger;
            var benchmarkModel=getBenchmarkModel(@Html.Raw(ViewBag.Benchmarks),'@formId','adebenchmarks');
            ko.applyBindings(benchmarkModel, document.getElementById("@(formId)"));
        })();
    </script>
}

<form id="@formId" class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Label, new { @class = "control-label col-sm-3 required" })
        <div class="col-sm-3">
            @Html.DisplayFor(model => model.Label)
        </div>
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-3 required" })
        <div class="col-sm-3">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    @if (Model.Type == AssessmentType.Cec)
    {
        @Html.LabelFor(model => model.Status, new { @class = "control-label col-sm-3 required" })
        <div class="col-sm-3">
            @Html.DisplayFor(model => model.Status, "Enum")
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.OrderType, new { @class = "control-label col-sm-3 required" })
            <div class="col-sm-3">
                @Html.DisplayFor(model => model.OrderType, "Enum")
            </div>
            @Html.LabelFor(model => model.TotalScored, new { @class = "control-label col-sm-3 required" })
            <div class="col-sm-3">
                @Html.DisplayFor(model => model.TotalScored, "Boolean")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-sm-3 required" })
            <div class="col-sm-3">
                @Html.DisplayFor(model => model.Status, "Enum")
            </div>
            @Html.LabelFor(model => model.Language, new { @class = "control-label col-sm-3 required" })
            <div class="col-sm-2">
                @Html.DisplayFor(model => model.Language, "Enum")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ParentReportCoverPath, new { @class = "control-label col-sm-3 " })
            <div class="col-sm-9 ">
                @Html.DisplayFor(model => model.ParentReportCoverName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DisplayPercentileRank, new { @class = "control-label col-sm-3 required" })
            <div class="col-sm-3">
                @Html.DisplayFor(model => model.DisplayPercentileRank, "Boolean")
            </div>
        </div>
        <div class="form-group" id="divDescription">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-3 " })
            <div class="col-sm-9 ">
                @Html.TextBoxFor(model => model.Description, baseClassObj)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                Benchmark Labels and Colors:
            </div>
        </div>
        <div class="form-group">
            <div id="myTabContent" class="tab-content">
                @Html.Display("", "Benchmarks")
            </div>
        </div>
    }
    <div class="modal-footer">
        <button class="mainbutton modal-btn close-btn" type="button" data-dismiss="modal">Close</button>
    </div>
</form>
