@model ParentChildModel
@using Sunnet.Cli.Business.Students.Models
@using Sunnet.Cli.UIBase.Models
@{
    Layout = "~/Views/Shared/_Modal_Layout.cshtml";
    ViewBag.Title = "Add Another Child";
    var formId = PostFormHelper.GetFormId(Html.ViewContext.View);
}

@section Scripts{
    <script type="text/javascript">
        +(function () {

            $("#Relation").change(function () {
                if ($("#Relation :selected").text() == "Other")
                    $("#RelationOther").attr("type", "text");
                else {
                    $("#RelationOther").val("");
                    $("#RelationOther").attr("type", "hidden");
                }
            });

            registerFormCallbacks("@(formId)", {
                onResponsed: function (response) {
                    var parentListObj = @Request.QueryString["listObj"];
                    parentListObj.onDataUpdated(response);
                    closeModal($("#@(formId)"));
                }
            });
        })();
    </script>
}

@using (Ajax.BeginForm("SaveParentChild", "Student", null, PostFormHelper.DefaultAjaxOptions,
    new
    {
        @class = "form-horizontal",
        id = formId
    }))
{     
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ParentId, new { @class = "col-sm-4 control-label required" })
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.ParentId, new { @class = "form-control col-sm-4" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ChildFirstName, new { @class = "col-sm-4 control-label required" })
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.ChildFirstName, null, new { @class = "form-control col-sm-4" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ChildLastName, new { @class = "col-sm-4 control-label required" })
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.ChildLastName, new { @class = "form-control col-sm-4" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Relation, new { @class = "col-sm-4 control-label required" })
        <div class="col-sm-4">
            @Html.DropDownList("Relation", (IEnumerable<SelectListItem>)ViewBag.RelationList, new { @class = "form-control col-sm-4" })
            @Html.LabelFor(model => model.RelationOther, new { @class = "control-label hide" })
            @Html.TextBoxFor(model => model.RelationOther, new { @class = "form-control col-sm-4", type = "hidden", placeholder = "enter other relation" })
        </div>
    </div>
    <div class="modal-footer">
        <button class="mainbutton modal-btn submit-btn" type="submit">Submit</button>
        <button class="mainbutton modal-btn cancel-btn" type="button" data-dismiss="modal">Cancel</button>
    </div>
}

