@using System.Web.Optimization
@using Sunnet.Cli.UIBase
@using Sunnet.Cli.UIBase.Models

<!DOCTYPE html>
@{
    const string siteName = "Cli Engage";
    var relativePath = ((RazorView)Html.ViewContext.View).ViewPath;
    var lastModified = FileHelper.GetFileLastModified(Server.MapPath(relativePath));
    string titleStr = ViewBag.Title;
}

<html lang="en">
     
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="CLI Engage | A comprehensive professional development platform for early childhood providers and pre-k teachers in Texas" />
    <title>@ViewBag.Title - @siteName</title>
    @Styles.Render("~/css/newPublic")
    @RenderSection("Styles", false)
    @Scripts.Render("~/scripts/modernizr")
    @Styles.Render("~/css/home")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/scripts/ie68")
    <![endif]-->
    @if (ViewBag.Debug != null && (bool)ViewBag.Debug)
    {
        <script type="text/javascript">
            window._DEBUG = true;
        </script>
    }
    <script type="text/javascript">
        window._TimeoutUrl_ = "@(ViewBag.TimeoutUrl)";
        window._staticDomain_ = "@DomainHelper.StaticSiteDomain";
    </script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,700italic,400italic,300italic,900' rel='stylesheet' type='text/css'>
    <style>
        .footer a {
            font-weight: normal;
        }

        .main-style {
            font-family: Helvetica,Arial,sans-serif;
            font-size: 14px;
            color: #333;
            line-height: 1.42857143;
            margin-top: -50px;
        }

            .main-style h1, .main-style h2, .main-style h3, .main-style h4, .main-style h5, .main-style h6, .h1, .h2, .h3, .h4, .h5, .h6 {
                font-family: inherit;
                font-weight: 500;
                line-height: 1.1;
                color: inherit;
            }

            .main-style .dashboard-text h3 {
                color: #018a01;
                text-align: left;
            }

            .main-style h3, .h3 {
                font-size: 24px;
            }

            .main-style h4, .h4 {
                font-size: 18px;
            }

            .main-style a {
                outline: none;
                text-decoration: underline;
                color: #4a8250;
            }
    </style>
</head>
<body>
    <!-- Begin New Design -->
    <div class="container-fluid">
        <div class="row clibar">
            <div class="col-sm-2 clileft">
                <p>
                    <img src="/images/ReDesign/cliheadericon.png" alt="cli Logo">
                </p>
            </div>
            <div class="col-sm-10 cliright">
                <p>CLI Engage is a part of the Children’s Learning Institute</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding: 0; text-align: center">
                @if (titleStr == "")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-001_HOME-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Dashboard")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-011_DASHBOARD-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "About Us")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-004_ABOUTUS-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "News")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-001_HOME-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Launch")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-001_HOME-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Tools")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-005_TOOLS-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Child Progress Monitoring")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-005_TOOLS-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Online Courses")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-005_TOOLS-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Classroom Observation Tools")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-005_TOOLS-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Coaching and Collaboration ToolsClassroom Activities")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-005_TOOLS-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Classroom Activities")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-005_TOOLS-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Texas Kindergarten Entry Assessment (TX-KEA)")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-005_TOOLS-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Parents & Families")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-006_PARENTSFAMILIES-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Activities for Kids")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-006_PARENTSFAMILIES-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Monitoring Your Child's Progress")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-006_PARENTSFAMILIES-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Online Learning for Parents")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-006_PARENTSFAMILIES-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Understanding Child Development")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-006_PARENTSFAMILIES-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Calendar")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-007_CALENDAR-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "FAQ")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-008_FAQ-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Contact Us")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-009_CONTACT-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Helps")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-002_HELP-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Search")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-010_SEARCH-banner.png" alt="CLI Engage" />
                }
                @if (titleStr == "Sign Up")
                {
                    <img class="img-responsive" src="/images/ReDesign/Banner/CLIe-003_SIGNUP-banner.png" alt="CLI Engage" />
                }
            </div>
        </div>
    </div>


    @if (ViewBag.Login)
    {
        <div class="col-sm-2 logbox">
            <a class="header-sign-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" href="#" data-toggle="modal"><i class="icon-user"></i>@ViewBag.FirstName
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a style="color: #656565" class="menutext" role="menuitem" tabindex="-1" href="@(DomainHelper.MainSiteDomain)home/dashboard"><i class="icon-dashboard"></i>Dashboard</a></li>
                <li role="presentation"><a style="color: #656565" class="menutext" role="menuitem" tabindex="-1" href="@(DomainHelper.MainSiteDomain)Profile/MyProfile"><i class="icon-bullhorn"></i>My Profile</a></li>
            </ul>
            |  <a href="@(DomainHelper.SsoSiteDomain)home/LogOut">LOGOUT</a>
        </div>
    }
    else
    {
        <div class="col-sm-2 logbox">
            <div style="display: table-cell; vertical-align: middle"><a href="@(DomainHelper.MainSiteDomain)home/signup">SIGN UP</a> | <a href="@(DomainHelper.MainSiteDomain)home/signin">LOGIN</a></div>
        </div>
    }


    @Html.Partial("_Partial_Menu")
   
    @RenderSection("Slides", false)
    <div class="main-container main-style">
        @RenderBody()
    </div>

    <div class="row footer" style="padding-top: 26px; padding-left: 0px; margin-left: 0px">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <img class="img-responsive toolicon" style="height: 131px; float: right;" src="/images/ReDesign/UTH_CLI_co_brand_wht.png" alt="CLI Engage News">
            </div>
            <div class="col-sm-4">
                <p class="footerheader">RECEIVE OUR NEWSLETTERS</p>
                <p style="padding-top: 18px;"><a class="btn btn-default footerlink" style="color: #e40000 !important; background-color: #ffffff;" href="http://visitor.r20.constantcontact.com/manage/optin?v=001uxu9h741ik21QwTj2fX_kssB2o93cAd8WnJxJCTJJ8ufUzTruJeLJM3wBav7plT2LMOCMGOEz6etL-V_2_YmcEfwTBqpO2gJEhz_gYFG-kV_G3nVb2UleQ%3D%3D">STAY IN TOUCH</a></p>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="footerheader">CONNECT WITH US</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <a href="https://www.facebook.com/cliengage">
                                <img class="img-responsive socialicon" width="45" src="/images/ReDesign/facebookrnd.png" alt="facebook"></a>
                        </div>
                        <div class="col-sm-2">
                            <a href="https://twitter.com/CLIEngage">
                                <img class="img-responsive socialicon" width="45" src="/images/ReDesign/twitterrnd.png" alt="Twitter"></a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#">
                                <img class="img-responsive socialicon" width="45" src="/images/ReDesign/youtubernd.png" alt="YouTube"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <p>
                Copyright © 2015 by <a style="color: #ffffff;" href="https://www.uth.edu/">The University of Texas Health Science Center at Houston (UTHealth)</a><br />
      All rights reserved. <a style="color: #ffffff;" href="https://www.uth.edu/index/policies.htm">Site Policies</a> | <a style="color: #ffffff;" href="https://www.uth.edu/index/file-viewing-information.htm">Web File Viewing</a> | Webmaster: <a style="color: #ffffff;" href="mailto:bang.n.pham@uth.tmc.edu">bang.n.pham@uth.tmc.edu</a>
            </p>
        </div>
    </div>
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/jquery_val")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/knockout")
    @Scripts.Render("~/scripts/format")
    @Scripts.Render("~/scripts/cli")
    @* <script type="text/javascript">
        $(function () {
            var navigation = responsiveNav("#nav", {
                customToggle: "#nav-toggle"
            });
        });
    </script>*@
    @RenderSection("Scripts", false)

    <div id="modalLarge" class="modal" data-cache="false" data-confirm="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
</body>
</html>
