@using Sunnet.Cli.Business.Trs.Models

@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Modal_Layout.cshtml";
    var formId = PostFormHelper.GetFormId(Html.ViewContext.View);
    List<NotificationUserModel> users = ViewBag.users as List<NotificationUserModel>;
}

<div style="font-weight: bold; margin-bottom: 20px;">
    <i>Select the people you would like to be notified by this event:</i>
</div>
@using (Ajax.BeginForm("NotificationUsers", "Index", null, PostFormHelper.DefaultAjaxOptions,
    new
    {
        @class = "form-horizontal",
        role = "form",
        id = formId
    }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="EventLogId" value="@ViewBag.logId" />
    <input type="hidden" name="SchoolId" value="@ViewBag.schoolId" />
    <div class="main-content main-content">
        <div class="content-body-tab">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 10%;">Select
                        </th>
                        <th style="width: 30%">First Name</th>
                        <th style="width: 30%">Last Name</th>
                        <th style="width: 30%">Role</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (NotificationUserModel user in users)
                    {
                        <tr>
                            <td>
                                @if (user.Selected)
                                {
                                    <input name="SelectUser" id="@("SelectUser"+user.UserId)" type="checkbox" checked="checked" value="@user.UserId"/>
                                    <label for ="@("SelectUser"+user.UserId)"><span style="display: none">1</span></label>
                                }
                                else
                                {
                                    <input name="SelectUser" type="checkbox" value="@user.UserId" id="@("SelectUser"+user.UserId)" />
                                    <label for="@("SelectUser"+user.UserId)"><span style="display: none">1</span></label>
                                }
                            </td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Role.ToDescription()
                            </td>
                        </tr>
                    }
                </tbody>
                @if (users.Count == 0)
                {
                    @Html.Display("e", "NoData", new { Colspan = 4 })
                }
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="mainbutton mainright-btn submit-btn" type="submit" onclick="return BeforeNotification()">Submit</button>
    </div>
}

@section Scripts
{
    <script type="text/javascript">

        +(function () {
            registerFormCallbacks("@(formId)", {
                onResponsed: function (response) {
                    if (response.success) {
                        window.showMessage('success');
                        closeModal($("#@(formId)"));
                    }
                }
            });
        })();

        function BeforeNotification()
        {
            if ($("input[name='SelectUser']:checked").length == 0) {
                window.showMessage('hint', 'Please choose one person at least.');
                return false;
            }
            return true;
        }
    </script>
}

